td	{
    height: 50px;
    border: dashed 1px;
    border-color: blue;
}

tb	{
    height: 50px;
    border: dashed 1px;
    border-color: blue;
}

th	{
    height: 50px;
    border: dashed 1px;
    border-color: blue;
}

table 	{
  	border: solid 1px;
	background: green;
	color: aqua;
	border-style: dashed;
	border-color: pink;
	border-width: 10px;
	border-height: 10px;
	text-decoration: none;
}

a	{
	text-decoration: none;
}

#l	{
	border: dashed 2px;
	background-image: url("img/division.png");
	height:	480px;
	width: 125px;
	text-decoration: none;
}

#m	{
	float: left;
	border: dashed 2px;
	border-color: brown;
	background-image: url("img/division.png");
	height:	480px;
	width: 125px;
	text-decoration: none;
}

#o	{
	float: right;
	border: solid 2px;
	border-color: blue;
	background-image: url("img/division.png");
	height:	480px;
	width: 125px;
	text-decoration: none;
}

p	{
	border: solid 2px;
	background-image: url("img/division.png");
	height:	480px;
	width: 125px;
	text-decoration: none;
}

#q	{
	float: left;
	border: solid 2px;
	background-image: url("img/division.png");
	height:	480px;
	width: 125px;
	text-decoration: none;
}

#r	{
	border: solid 2px;
	border-color: green;
	height:	480px;
	width: 125px;
	text-decoration: none;
}

#top {
	float: right;
}

#col {	
	border-color: blue;
	border-width: .5em;
	text-decoration: none;
}

div {	
	//*border: 5px dashed;*//
	border-color: none;
}

body {
	background-image: url("img/division.png");
	background-color: white;
}

#container {
	border: 2px;
	border-style: solid;
	border-color: white;
	min-width: 50%;
	height: 400px;
}

#head {	
	border: solid 2px;
	border-color: red;
	min-width: 30%;
	height: 500px;
	text-decoration: none;
}

#row {	
	border: solid 2px;
	border-color: red;
	min-width: 30%;
	height: 500px;
	text-decoration: none;
}

//*---------*//
